.gradle/
build/
target/
.project
.settings/
chat-room-portlet/.classpath
chat-room-portlet/.project
chat-room-portlet/.settings/
chat-room-service-api/.classpath
chat-room-service-api/.gitignore
chat-room-service-api/.project
chat-room-service-api/.settings/
chat-room-service/.classpath
chat-room-service/.gitignore
chat-room-service/.project
chat-room-service/.settings/
